.header {
    border: 2px solid #60b8ff;
    background-color: #60b8ff;
    padding:20px;
    width:100%;
    text-align:center
}
body {
  background-color: lightblue;
}
.image1 {
  text-align: center;
}
ul li {
  font-size: 40px;
  margin-bottom: 10px;
}